# Haskell
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
dist/
log/

# Elm
elm.js
*.html
packages/
build-artifacts/

*.properties
